h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

input {
    width:auto;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
  }